/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-right: 15px;
  padding-left: 15px;
}


/* Custom page footer */
.footer {
  margin-top: 8px;
  padding-top: 16px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.led-setting {
  height: 50px;
  line-height: 50px;
  font-size: 1.5em;
}

.led-setting > span,
.led-setting > a {
  padding-left: 8px;
}
